.Service-card{
    width: 370px;
    height: 250px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color:white;
    margin: 20px 38px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
  }  
  .Service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  } 
  .Service-card h1{
    font-size: 38px;
    margin: 0;
  }
  .Service-card p{
    font-size: 20px;
    margin-top: 20px;
   
  }
  .Service-card span{
    font-size: 25px;
    margin-top: 30px;
  }

  .A-p-button{
    background-color: #333;
    color: white;
    position: absolute;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 15px;
    left: 5%;
    bottom: 20px;
    width: 90%;
    font-size: 20px;
    margin-top: 50px;
  
    
  } 
  .A-p-button:hover{
  
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }