/* .signup-form{
    width:600px;
    margin: 0 auto;
} */
.inputs {
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
    height: auto;
    margin: 20px auto;
    width: 400px;
    background-color: rgb(163, 207, 204);
    box-shadow: 0 0 12px 1px #444444;
    border-radius: 10px;
    outline: none;
}

.header {
    text-align: center;
}

.name {
    display: block;
    margin: 15px auto;
    width: 300px;
    height: 20px;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    outline: none;

}

.redirect {
    text-align: center;
}

.btn-signup {
    display: block;
    margin: 20px auto;
    border-radius: 7px;
    border: none;
    width: 320px;
    padding: 10px 10px;
    background-color: rgb(2, 88, 114);
    cursor: pointer;
    color: white;

}

.btn-signup:hover {
    background-color: rgb(85, 102, 107);
    color:rgb(255, 255, 255);
}


